<div class="row">
    <div class="barra-lateral col-6 col-sm-auto" [ngClass]="activar">
        <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
            <div class="row w-100">
                <a href="#" [routerLink]="['manifiesto-new']"><span>Manifiesto</span></a>
            </div>
            <div class="row w-100">
                <a href="#"><span>NPI</span></a>
            </div>
            <div class="row w-100">
                <a href="#"><span>Reportes</span></a>
            </div>
            <div class="row w-100">
                <a href="#"><span>Mantenimiento de Feeders</span></a>
            </div>
            <div class="row w-100">
                <a href="#" [routerLink]="['procedimientos']"><span>Procedimientos IA</span></a>
            </div>
        </nav>
    </div>
</div>
<div *ngIf="activar">
    <a href="#" class="fondo-enlace d-md-none" (click)="ocultarMenu()"></a>
</div>